* {
  box-sizing: border-box;
  font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", "STSong", Serif;
  line-height: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}



/* Handling different sreen sizes*/

/* Navbar */
nav {
  border: 1px solid grey;
  background-color: white;

}


nav ul {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  list-style-type: none;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  height: auto;
  width: 100px;
}

nav ul li {
  display: inline-block;
  line-height: 35px;
  border: 1px solid grey;
  padding: 10px 20px 10px 20px;
}

nav ul li:hover {
  background-color: black;
}




.slide{
  margin:0;
  padding:0;
  width: 100%;
  height: auto;
 
}

.arrow{
  cursor:pointer;
  color:black;
  border-style: solid;
  
  
}

#arrow-left{
  position: relative;
  border-width: 20px 30px 20px 0;
  border-color: transparent #fff transparent transparent;
 
  left: 120%;
}

#arrow-right{
  position: relative;
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #fff;
  
  right: 120%;
}

footer {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  justify-content: center;
  
}

footer div {
  margin: 0;
  padding: 10px;
  border: 1px solid grey;
}








































